/** Product Jumbo CSS if needed **/

#product-nav {
	margin-top: 0;
}

#product-nav .container {
	width: 100%;
}

#product-nav .product-jumbo-navbar {
	padding: 0;
}

#product-jumbo .container {
	width:100%;
}

#product-jumbo .product-jumbo-strech {
	padding: 0;
}